.wrapper
{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .transaction-item{
        background-color: rgb(0, 0, 94);
        color: white;
        border-radius: 7px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 60%;
    }
}
