<div class="wrapper">
    <div></div>
    <div *ngFor="let item of startingBalance" class="label-box text-center">
        <div>
            <b>{{item.label}}</b> <img src="../../../../../assets/media/logos/long.png">
        </div>
    </div>
    <div class="title text-center">
        Nostro Balance
    </div>
    <div *ngFor="let item of startingBalance" class="amount-box text-center">
        <div>
            {{formatNumber(item.amount.toFixed(2), false) }}
        </div>
    </div>
    <div class="title text-center">
        Open position
    </div>
    <div *ngFor="let item of latestBalance; index as i" class="amount-box text-center">
        <div [ngClass]="item.amount - startingBalance[i].amount<0 ?'text-danger' :'text-success'">
            {{formatNumber((item.amount - startingBalance[i].amount).toFixed(2), true)}}
        </div>
    </div>
</div>
