<div class="wrapper" style="padding: 0 !important;" *ngIf="latestBalance !== undefined && startingBalance!==undefined">
    <div></div>
    <div *ngFor="let item of startingBalance" class="label-box text-center">
        <div>
            <b>{{item.label}}</b> <img src="../../../../../assets/media/logos/long.png">
        </div>
    </div>
    <div class="title text-center">
        Nostro Balance
    </div>
    <div *ngFor="let item of startingBalance" class="amount-box text-center">
        <div>
            {{formatNumber(item.amount.toFixed(2), false) }}
        </div>
    </div>
    <div class="title text-center">
        Open position
    </div>
    <div *ngFor="let item of latestBalance; index as i" class="amount-box text-center">
        <div [ngClass]="{'text-danger':item.amount - startingBalance[i].amount<0, 'text-success':item.amount - startingBalance[i].amount>0,'': item.amount - startingBalance[i].amount==0} ">
            {{formatNumber((item.amount - startingBalance[i].amount).toFixed(2), true)}}
        </div>
    </div>
</div>
