.wrapper
{
    transition: 2s ease;
    background-color: #fbfdff;
    background-image: url('../../../../../../assets/media/bg/backgroudn.png');
    color: black;
    border: 2px solid #eaeaea;
    margin-left: 150px;
    margin-right: 3px;
    padding: 0;
    min-height: 400px;
    height: fit-content;
    -webkit-box-shadow: 5px 9px 20px 2px rgba(0,0,0,0.1); 
    box-shadow: 5px 9px 20px 2px rgba(0,0,0,0.1);
    border-radius: 30px;
    position: relative;
    .summary-sold{
        position: absolute;
        bottom: 20px;
        background-color:  rgb(230, 230, 230);
        color: black;
        border-radius: 20px;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        left: 9%;
        span:not(:last-child){
            border-right:2px solid  rgb(255, 255, 255);
            padding-left: 5px;
            padding-right: 5px;
            line-height: 40px;
        }
    }
    .summary-bought{
        position: absolute;
        bottom: 20px;
        background-color: rgb(31, 31, 31);
        color: white;
        border-radius: 20px;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        left: 9%;
        span:not(:last-child){
            border-right:2px solid rgb(255, 255, 255);
            padding-left: 5px;
            padding-right: 5px;
            line-height: 40px;
        }
    }
    .transaction-label__sold{
        font-size: 15px;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 150px;
        background-color: rgb(230, 230, 230);
        //border: 2px solid rgb(255, 208, 0);
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .transaction-item__sold{
        background-color: rgb(230, 230, 230);
        //border: 2px solid rgb(255, 208, 0);
        //padding:10px;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        max-width: 430px;
        position: relative;
        span{
            border-right:2px solid rgb(255, 255, 255);
            padding-left: 5px;
            padding-right: 5px;
            line-height: 35px;
        }
        .date{
            position: absolute;
            right: 2px;
            bottom: 1px;
            font-size: 11px;
            padding-left: 10px;
        }
    }
    .transaction-label__bought{
        font-size: 15px;
        color: rgb(255, 255, 255);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right:15px;
        background-color: rgb(31, 31, 31);
        border-radius: 10px;
        width: 150px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .transaction-item__bought{
        background-color: rgb(31, 31, 31);
        color: white;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        color: white;
        max-width: 430px;
        position: relative;
        .date{
            position: absolute;
            right: 2px;
            bottom: 1px;
            font-size: 11px;
            padding-left: 10px;
        }
        span{
            border-right:2px solid rgb(255, 255, 255);
            padding-left: 5px;
            padding-right: 5px;
            line-height: 35px;
        }
    }

}




.hint{
    height: 300px;
    align-items: center;
    background-image: url('../../../../../../assets/bg/logo-dark.png');
    background-repeat: no-repeat;
    background-position: center;
    .anim-typewriter {
        animation: typewriter 2s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
    }
    
    .line {
        position: relative;
        width: 33em;
        margin: 0 auto;
        border-right: 2px solid rgba($color: #000000, $alpha: 0.75);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
        color: black;
        margin-bottom: 20px;
    }
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 33em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: black;
	}
	to {
		border-right-color: transparent;
	}
}

@keyframes show{
	from {
		opacity: 0;
	}
	to {
        opacity: 1;
	}
}

// Custom Scroll Bar
.transaction-container{
	/* width */
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background-color: white;
		border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: rgba($color: #c2c2c2, $alpha: 0.3);
		border-radius: 10px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba($color: #c2c2c2, $alpha: 0.5);
		cursor: pointer !important;
	}
}