<div class="wrapper" style="padding-top: 20px !important;">
    <div *ngIf="role == 2"></div>
    <div *ngIf="role == 3" class="container text-center" >
        <a href="javascript:;" class="filter-box text-center" (click)="showCreate = !showCreate" style="width: 205px;">
            <b>Create transaction</b>
        </a>
        <div class="details" *ngIf="showCreate" 
            style="position: fixed; 
            z-index: 100;
            background-color: rgb(230, 230, 230);
            border: 2px solid rgb(230, 230, 230);"
            >
            <form [formGroup]="myForm">
                <mat-form-field appearance="fill" formControlName="boughtCurrency">
                    <mat-label>Currency to buy</mat-label>
                    <mat-select style="z-index: 2100;" required>
                        <mat-option value="ALL">ALL</mat-option>
                        <mat-option value="EUR">EUR</mat-option>
                        <mat-option value="USD">USD</mat-option>
                        <mat-option value="GDP">GDP</mat-option>
                        <mat-option value="CAD">CAD</mat-option>
                        <mat-option value="CHF">CHF</mat-option>
                        <mat-option value="SGD">SGD</mat-option>
                        <mat-option value="AUD">AUD</mat-option>
                    </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" formControlName = "soldCurrency">
                    <mat-label>Currency to sell</mat-label>
                    <mat-select matNativeControl required>
                        <mat-option value="ALL">ALL</mat-option>
                        <mat-option value="EUR">EUR</mat-option>
                        <mat-option value="USD">USD</mat-option>
                        <mat-option value="GDP">GDP</mat-option>
                        <mat-option value="CAD">CAD</mat-option>
                        <mat-option value="CHF">CHF</mat-option>
                        <mat-option value="SGD">SGD</mat-option>
                        <mat-option value="AUD">AUD</mat-option>
                    </mat-select>
                    </mat-form-field>
                    <br><mat-form-field appearance="fill">
                        <mat-label>Bank to buy</mat-label>
                        <mat-select matNativeControl required>
                            <mat-option value="BKT">BKT</mat-option>
                            <mat-option value="OTP">OTP</mat-option>
                            <mat-option value="TRB">TRB</mat-option>
                        </mat-select>
                        </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Amount to buy</mat-label>
                        <input matInput>
                    </mat-form-field>
            </form>
            <br>
            <button mat-button style="background-color: black; margin-bottom: 5px; border-radius: 10px; color: white; font-family: Poppins;"
            (click)="createTransaction()">Submit</button>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('EUR', 'ALL')">
            <b>EUR-ALL</b>
        </a>
        <div *ngIf="firstCurrency=='EUR' && secondCurrency=='ALL'" class="details">
            Open: <b>{{computeOpen('EUR', 'ALL')}}</b><br>
            P/L: <b>{{computePL('EUR', 'ALL')}}</b>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('USD','EUR')">
            <b>USD-EUR</b>
        </a>
        <div *ngIf="firstCurrency=='USD' && secondCurrency=='EUR'" class="details">
            Open: <b>{{computeOpen('USD', 'EUR')}}</b><br>
            P/L: <b>{{computePL('USD', 'EUR')}}</b> 
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('USD', 'ALL')">
            <b>USD-ALL</b>
        </a>
        <div *ngIf="firstCurrency=='USD' && secondCurrency=='ALL'" class="details">
            Open: <b>{{computeOpen('USD', 'ALL')}}</b><br>
            P/L: <b>{{computePL('USD', 'ALL')}} </b>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('GDP', 'ALL')">
            <b>GDP-ALL</b>
        </a>
        <div *ngIf="firstCurrency=='GDP' && secondCurrency=='ALL'" class="details">
            Open: <b>{{computeOpen('GDP', 'ALL')}}</b><br>
            P/L: <b>{{computePL('GDP', 'ALL')}}</b> 
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('GDP', 'USD')">
            <b>GDP-USD</b>
        </a>
        <div *ngIf="firstCurrency=='GDP' && secondCurrency=='USD'" class="details">
            Open: <b>{{computeOpen('GDP', 'USD')}}</b><br>
            P/L: <b>{{computePL('GDP', 'USD')}}</b>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('EUR', 'GDP')">
            <b>EUR-GDP</b>
        </a>
        <div *ngIf="firstCurrency=='EUR' && secondCurrency=='GDP'" class="details">
            Open: <b>{{computeOpen('EUR', 'GDP')}}</b><br>
            P/L: <b>{{computePL('EUR', 'GDP')}}</b>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="showCustom = !showCustom">
            <b>Custom</b>
        </a>
        <div class="details" *ngIf="showCustom">
            <mat-form-field appearance="fill">
            <mat-label>First currency</mat-label>
            <mat-select>
                <mat-option value="ALL">ALL</mat-option>
                <mat-option value="EUR">EUR</mat-option>
                <mat-option value="USD">USD</mat-option>
                <mat-option value="GDP">GDP</mat-option>
                <mat-option value="CAD">CAD</mat-option>
                <mat-option value="CHF">CHF</mat-option>
                <mat-option value="SGD">SGD</mat-option>
                <mat-option value="AUD">AUD</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
            <mat-label>Second currency</mat-label>
            <mat-select matNativeControl required>
                <mat-option value="ALL">ALL</mat-option>
                <mat-option value="EUR">EUR</mat-option>
                <mat-option value="USD">USD</mat-option>
                <mat-option value="GDP">GDP</mat-option>
                <mat-option value="CAD">CAD</mat-option>
                <mat-option value="CHF">CHF</mat-option>
                <mat-option value="SGD">SGD</mat-option>
                <mat-option value="AUD">AUD</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<ai-transaction-log #transactionLog [firstFilter]="firstCurrency" [secondFilter]="secondCurrency"></ai-transaction-log>

