<div class="wrapper" style="padding-top: 20px !important;">
    <div></div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('EUR', 'ALL')">
            <b>EUR-ALL</b>
        </a>
        <div *ngIf="firstCurrency=='EUR' && secondCurrency=='ALL'" class="details">
            Open: <b>{{computeOpen('EUR', 'ALL')}}</b><br>
            P/L: <b>{{computePL('EUR', 'ALL')}}</b>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('USD','EUR')">
            <b>USD-EUR</b>
        </a>
        <div *ngIf="firstCurrency=='USD' && secondCurrency=='EUR'" class="details">
            Open: <b>{{computeOpen('USD', 'EUR')}}</b><br>
            P/L: <b>{{computePL('USD', 'EUR')}}</b> 
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('USD', 'ALL')">
            <b>USD-ALL</b>
        </a>
        <div *ngIf="firstCurrency=='USD' && secondCurrency=='ALL'" class="details">
            Open: <b>{{computeOpen('USD', 'ALL')}}</b><br>
            P/L: <b>{{computePL('USD', 'ALL')}} </b>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('GDP', 'ALL')">
            <b>GDP-ALL</b>
        </a>
        <div *ngIf="firstCurrency=='GDP' && secondCurrency=='ALL'" class="details">
            Open: <b>{{computeOpen('GDP', 'ALL')}}</b><br>
            P/L: <b>{{computePL('GDP', 'ALL')}}</b> 
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('GDP', 'USD')">
            <b>GDP-USD</b>
        </a>
        <div *ngIf="firstCurrency=='GDP' && secondCurrency=='USD'" class="details">
            Open: <b>{{computeOpen('GDP', 'USD')}}</b><br>
            P/L: <b>{{computePL('GDP', 'USD')}}</b>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="updateFilters('EUR', 'GDP')">
            <b>EUR-GDP</b>
        </a>
        <div *ngIf="firstCurrency=='EUR' && secondCurrency=='GDP'" class="details">
            Open: <b>{{computeOpen('EUR', 'GDP')}}</b><br>
            P/L: <b>{{computePL('EUR', 'GDP')}}</b>
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:;" class="filter-box text-center" (click)="showCustom = !showCustom">
            <b>Custom</b>
        </a>
        <div class="details" *ngIf="showCustom">
            <mat-form-field appearance="fill">
            <mat-label>First currency</mat-label>
            <mat-select>
                <mat-option value="ALL">ALL</mat-option>
                <mat-option value="EUR">EUR</mat-option>
                <mat-option value="USD">USD</mat-option>
                <mat-option value="GDP">GDP</mat-option>
                <mat-option value="CAD">CAD</mat-option>
                <mat-option value="CHF">CHF</mat-option>
                <mat-option value="SGD">SGD</mat-option>
                <mat-option value="AUD">AUD</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
            <mat-label>Second currency</mat-label>
            <mat-select matNativeControl required>
                <mat-option value="ALL">ALL</mat-option>
                <mat-option value="EUR">EUR</mat-option>
                <mat-option value="USD">USD</mat-option>
                <mat-option value="GDP">GDP</mat-option>
                <mat-option value="CAD">CAD</mat-option>
                <mat-option value="CHF">CHF</mat-option>
                <mat-option value="SGD">SGD</mat-option>
                <mat-option value="AUD">AUD</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<ai-transaction-log #transactionLog [firstFilter]="firstCurrency" [secondFilter]="secondCurrency"></ai-transaction-log>

