<div style="margin: auto; padding-left: 100px;">
    <h2 style="padding-left: 380px;">Last 24 hours</h2>
    <iframe src="http://localhost:3000/d-solo/RFOlpXTMk/treasury-table?orgId=1&from=1605986396489&to=1606072796490&panelId=2"
 width="1000" height="380" frameborder="0"></iframe>
<h2 style="padding-left: 380px;">Last week</h2>
 <iframe src="http://localhost:3000/d-solo/RFOlpXTMk/treasury-table?orgId=1&from=1605470106063&to=1606074906063&panelId=4" 
 width="1000" height="380" frameborder="0"></iframe>

 <h2 style="padding-left: 380px;">All currencies balance</h2>
 <iframe src="http://localhost:3000/d-solo/RFOlpXTMk/treasury-table?orgId=1&from=1606061733666&to=1606148133666&panelId=8" 
 width="1000" height="380" frameborder="0"></iframe>
</div>
<!-- <div >
    <h1 style="font-family: Poppins;" class="text-center">Currencies Balance</h1>
    <div class= "chart-main">
        <canvas style="background-color: rgb(31, 31, 31);" #canvas></canvas>
    </div>

    
    <div class="chart-today">
        <canvas #today></canvas>
    </div>
</div> -->
